@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: Montserrat;
  src: url("/Fonts/Montserrat/Montserrat-Regular.ttf");
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255,255,255); /* Black fallback color */ /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 50px;
  color: rgb(0,0,0);
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
	font-family: 'Nunito', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 120px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

html {
	scroll-behavior: smooth;
	background: rgb(255,255,255);
	transition: 0.4s;
}

#menubar {
	height: 180px;
	background: rgba(255,255,255,1);
	transition: 0.4s;
	width: 100%;
	margin-top: -10px;
	position: fixed;
}

#menubarbox {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	transition: 0.4s;
}

#menubarlogo {
	height: 140px;
	width: auto;
	padding: 20px;
	transition: 0.4s;
}

#menulinkbox {
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-end;
	align-self: flex-end;
	transition: 0.4s;
}

.menubarlink a {
	font-family: 'Nunito', sans-serif;
	font-size: 50px;
	color: rgb(0,0,0);
	text-decoration: none;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	margin-right: 50px;
}

.overlaya {
	color: rgb(0,0,0);
}

#coverimg {
	background-image: url("Media/carstate.png");
	width: 100%;
	height: 30vh;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#sec1 {
	height: auto;
	width: 90%;
	font-family: 'Nunito', sans-serif;
	padding: 5%;
}

#sec1title {
	width: 100%;
	font-size: 5vw;
	margin-bottom: -4vw;
}

.st1textdiv {
	width: 100%;
	height: 4px;
	background: rgb(0,0,0);
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.st1content {
	text-align: justify;
	font-size: 5vw;
}

#st1img {
	width: 100%;
	height: 70vw;
	background-image: url("Media/team.JPG");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin-top: 5vw;
	margin-bottom: 5vw;
	border-radius: 8vw;
}

.awardstitle {
	width: 100%;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 5vw 0 5vw 0;
}

.awardsdiv {
	width: 10%;
	height: 4px;
	background: rgb(0,0,0);
	margin: auto;
}

.awardstitle h2 {
	width: 80%;
	font-size: 6.5vw;
	margin: auto;
}

.award {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.award span {
	width: 100%;
	text-align: center;
	font-weight: 700;
	color: rgb(0,139,233);
	font-size: 5.5vw;
	margin: 2vw auto 2vw auto;
}

#prevteams {
	width: 90%;
	height: auto;
	background: -webkit-linear-gradient(-45deg,rgb(70,178,255),rgb(0,130,255),rgb(0,83,172));
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	padding:5%;
	margin-bottom: 5vw;
	border-radius: 8vw;
}

.prevteamcontainer {
	width: 100%;
	height: auto;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	border-radius: 4vw;
}

.prevlogo {
	width: 50%;
	height: auto;
	padding: 5vw;
	margin: auto;
}

#centralcont {
	margin: 5vw 0 5vw 0;
	border-radius: 4vw;
}

.prevtitle {
	font-size: 10vw;
	font-weight: 700;
	margin-bottom: 3vw;
}

.prevtext {
	width: 100%;
	height: auto;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	text-align: center;
	border-radius: 4vw;
}

#tvtitle {
	font-family: 'Aldrich', sans-serif;
}

#awatitle {
	font-family: 'Orbitron', sans-serif;
}

.prevaward1 {
	font-size: 6vw;
	font-weight: 700;
}

.prevaward {
	font-size: 5vw;
	margin: 2vw auto 2vw auto;
}

#ltt1 {
	margin-bottom: 10vw;
}

#ltt2 {
	margin-bottom: 10vw;
}

#ltt3 {
	margin-bottom: 10vw;
}

#sec2 {
	width: 100%;
	height: auto;
	background-image: url("Media/race2.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
}

#sec2cover {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	background: rgba(0,139,233,0.5);
}

.st2box {
	height: auto;
	width: 70%;
	margin: 10%;
	padding: 5%;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	text-align: center;
	border-radius: 8vw;
}

.st2box p {
	font-size: 6vw;
	font-family: 'Nunito', sans-serif;
}

.st2box h1 {
	font-size: 10vw;
	font-family: 'Nunito', sans-serif;
}

#sec3img {
	width: 100%;
	height: 70vw;
	background-image: url("Media/2019wf.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin-top: 5vw;
	margin-bottom: 5vw;
	border-radius: 8vw;
}

#sec3 {
	height: auto;
	width: 90%;
	font-family: 'Nunito', sans-serif;
	padding: 5%;
}

#sec3title {
	width: 100%;
	font-size: 5vw;
	margin-bottom: -4vw;
}

#sec3buttoncontainer {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
}

.button {
	background: -webkit-linear-gradient(-45deg,rgb(70,178,255),rgb(0,130,255),rgb(0,83,172));
	padding: 1.5vw;
	font-size: 19px;
	height: 15vw;
	width: 60vw;
	text-align: center;
	text-justify: none;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 5vw auto 5vw auto;
	border-radius: 5vw;
}

.buttona {
	text-align: center;
	text-justify: none;
	background: rgb(255,255,255);
	margin: 0px;
	height: 15vw;
	width: 60vw;
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	font-weight: 400;
	color: rgb(0,0,0);
	transition: 0.3s;
	font-size: 5vw;
	border-radius: 3.5vw;
}

.buttona:hover {
	text-decoration: none;
	color: rgb(255,255,255);
	background: rgba(255,255,255,0);
}

.buttona span {
	margin: auto;
}

#sec4 {
	width: 100%;
	height: auto;
	background-image: url("Media/race1.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
}

.st2container {
	font-family: 'Nunito', sans-serif;
	height: auto;
	width: 100%;
	background: rgba(0,139,233,0.5);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
}

#sec4title h1 {
	width: 100%;
	height: auto;
	color: rgb(255,255,255);
	font-size: 10vw;
	text-align: center;
}

.memberbox {
	width: 90vw;
	margin: 4.5vw;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	border-radius: 8vw;
}

.memberimg {
	width: 90vw;
	height: 90vw;
	border-radius: 8vw;
}

#nj {
	background-image: url("Media/nj.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#zhu {
	background-image: url("Media/zhu.png");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#boi {
	background-image: url("Media/boi.png");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.memberbox h2 {
	text-align: center;
	font-size: 8vw;
	margin: 5vw 5vw 0 5vw;
}

.memberbox h3 {
	text-align: center;
	font-size: 5vw;
	margin: 5vw 5vw 0 5vw;
}

.memberbox p {
	text-align: justify;
	font-size: 4vw;
	margin: 5vw;
}

#sec5 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	font-family: 'Nunito', sans-serif;
}

#sponsorship {
	margin-bottom: 20vw;
}

#mentorship {
	color: rgb(255,255,255);
	background: -webkit-linear-gradient(-45deg,rgb(70,178,255),rgb(0,130,255),rgb(0,83,172));
	padding: 5vw 0 5vw 0;
}

#mentorcontainer {
}

#sponsorcontainer h1 {
	padding: 0 5vw;
	font-size: 10vw;
	text-align: center;
}

#mentorcontainer h1 {
	padding: 0 5vw;
	font-size: 10vw;
	text-align: center;
}

#sponsorcontainer p {
	padding: 0 5vw;
	font-size: 5vw;
	text-align: justify;
}

#mentorcontainer p {
	padding: 0 5vw;
	font-size: 5vw;
	text-align: justify;
}

.sec5div {
	width: 90%;
	margin: 0 5%;
	height: 6px;
}

#sponsordiv {
	background: rgb(0,0,0);
}

#mentordiv {
	background: rgb(255,255,255);
}

#button3 {
	background: rgb(255,255,255);
	padding: 1.5vw;
	font-size: 19px;
	height: 15vw;
	width: 60vw;
	text-align: center;
	text-justify: none;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 5vw auto 5vw auto;
}

#buttonbk1 {
	background: rgb(0,130,255);
	width: 60vw;
	height: 15vw;
	border-radius: 3.5vw;
}

#buttona3 {
	text-align: center;
	text-justify: none;
	background: rgba(255,255,255,0);
	margin: 0px;
	height: 15vw;
	width: 60vw;
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	font-weight: 400;
	color: rgb(255,255,255);
	transition: 0.3s;
	font-size: 5vw;
}

#buttona3:hover {
	text-decoration: none;
	color: rgb(0,0,0);
	background: rgba(255,255,255,1);
}

.buttona span {
	margin: auto;
}

#sec6 {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	font-family: 'Nunito', sans-serif;
	background: rgb(35,50,64);  
	margin-top: -40vw;
}

#sec6title h1 {
	width: 100%;
	text-align: center;
	color: rgb(255,255,255);
	margin-top: 50vw;
	font-size: 12vw;
}

#sponsorelements {
	width: auto;
	margin: 2.5%;
	background: rgb(25,40,54);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	border-radius: 8vw;
}

.sponsorimg {
	width: 85vw;
	margin: 5%;
	background: rgb(25,40,54);
	border-radius: 5.5vw;
}

.acont {
	margin: auto;
	background: rgb(35,50,64);
	width: 85vw;
	height: 85vw;
	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 5.5vw;
}

.sponsorimg a {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	filter: contrast(0) brightness(100);
	transition: 0.3s;
	border-radius: 5.5vw;
}

.sponsorimg a:hover {
	filter: contrast(1) brightness(1);
	background: rgba(255,255,255);  
}

.sponsorimg a img {
	width: 100%;
	height: auto;
	margin: auto;
	border-radius: 5.5vw;
}

.buttontext2 {
	margin: auto;
}

#sec7 {
	width: 100%;
	background-image: url("Media/race3.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
}

#sec7container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

#sec7box {
	margin: auto;
	margin-top: 10vw;
	margin-bottom: 10vw;
	background: rgb(255,255,255);
}

#sec7boxcontainer {
	padding: 3vw;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

#contactcontainer {
	width: auto;
	background: -webkit-linear-gradient(-45deg,rgb(70,178,255),rgb(0,130,255),rgb(0,83,172));
	border-radius: 8vw;
}

.contacta {
	background: rgb(255,255,255);
	transition: 0.3s;
	filter: contrast(1) brightness(1);
	display: block;
	margin: 2vw;
	border-radius: 6vw;
}

.contacta:hover {
	background: rgba(255,255,255,0);
	filter: contrast(0) brightness(200);
}

.contacta img {
	width: 59vw;
	height: 59vw;
	border-radius: 6vw;
}

footer {
	height: 200px;
	background: rgb(35,50,64);
	width: 100%;
}

#footercontainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

#footerlogo {
	padding:20px;
	height: 160px;
	width: 160px;
	float: left;
	margin-left: 0;
}

#footerlogo img {
	height: 100%;
	width: auto;
	filter:contrast(0) brightness(100);
}

#up {
	font-family: sans-serif;
	text-decoration: none;
	margin: auto;
	color: rgb(255,255,255);
}

#up a {
	font-family: sans-serif;
	text-decoration: none;
	margin: auto;
	font-size: 60px;
	color: rgb(255,255,255);
}

#footerbmgs {
	width: 160px;
	height: 160px;
	padding: 20px;
}

#footerbmgs img {
	height: 160px;
	width: 160px;
}