@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: Montserrat;
  src: url("/Fonts/Montserrat/Montserrat-Regular.ttf");
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255,255,255); /* Black fallback color */ /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 50px;
  color: rgb(0,0,0);
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
	font-family: 'Montserrat', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 120px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

html {
	scroll-behavior: smooth;
	background: rgb(255,255,255);
	transition: 0.4s;
}

#menubar {
	height: 180px;
	background: rgba(255,255,255,1);
	transition: 0.4s;
	width: 100%;
	margin-top: -10px;
}

#menubarbox {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	transition: 0.4s;
}

#menubarlogo {
	height: 140px;
	width: auto;
	padding: 20px;
	transition: 0.4s;
}

#menulinkbox {
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-end;
	align-self: flex-end;
	transition: 0.4s;
}

.menubarlink a {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: rgb(0,0,0);
	text-decoration: none;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	margin-right: 50px;
}

.overlaya {
	color: rgb(0,0,0);
}

#coverimg {
	background-image: url("Media/carstate.png");
	width: 100%;
	height: 30vh;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#sec1 {
	height: auto;
	width: 90%;
	font-family: 'Montserrat', sans-serif;
	padding: 5%;
}

#sec1title {
	width: 100%;
	font-size: 5vw;
	margin-bottom: -4vw;
}

.st1textdiv {
	width: 100%;
	height: 4px;
	background: rgb(0,0,0);
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.st1content {
	text-align: justify;
	font-size: 5vw;
}

#st1img {
	width: 100%;
	height: 70vw;
	background-image: url("Media/team.JPG");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.awardstitle {
	width: 100%;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 5vw 0 5vw 0;
}

.awardsdiv {
	width: 10%;
	height: 4px;
	background: rgb(0,0,0);
	margin: auto;
}

.awardstitle h2 {
	width: 80%;
	font-size: 6.5vw;
	margin: auto;
}

.award {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.award span {
	width: 100%;
	text-align: center;
	font-weight: 700;
	color: rgb(0,139,233);
	font-size: 5.5vw;
	margin: 2vw auto 2vw auto;
}

#prevteams {
	width: 90%;
	height: auto;
	background: -webkit-linear-gradient(-45deg,rgb(0,229,225),rgb(0,139,233),rgb(0,27,106));
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	padding:5%;
	margin-bottom: 5vw;
}

.prevteamcontainer {
	width: 100%;
	height: auto;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
}

.prevlogo {
	width: 50%;
	height: auto;
	padding: 5vw;
	margin: auto;
}

#centralcont {
	margin: 5vw 0 5vw 0;
}

.prevtitle {
	font-size: 10vw;
	font-weight: 700;
	margin-bottom: 3vw;
}

.prevtext {
	width: 100%;
	height: auto;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	text-align: center;
}

#tvtitle {
	font-family: 'Aldrich', sans-serif;
}

#awatitle {
	font-family: 'Orbitron', sans-serif;
}

.prevaward1 {
	font-size: 6vw;
	font-weight: 700;
}

.prevaward {
	font-size: 5vw;
	margin: 2vw auto 2vw auto;
}

#ltt1 {
	margin-bottom: 10vw;
}

#ltt2 {
	margin-bottom: 10vw;
}

#ltt3 {
	margin-bottom: 10vw;
}

#sec2 {
	width: 100%;
	height: auto;
	background-image: url("Media/race2.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
}

#sec2cover {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	background: rgba(0,139,233,0.5);
}

.st2box {
	height: auto;
	width: 70%;
	margin: 10%;
	padding: 5%;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	text-align: center;
}

.st2box p {
	font-size: 6vw;
	font-family: 'Montserrat', sans-serif;
}

.st2box h1 {
	font-size: 10vw;
	font-family: 'Montserrat', sans-serif;
}

#sec3img {
	width: 100%;
	height: 70vw;
	background-image: url("Media/2019wf.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

#sec3 {
	height: auto;
	width: 90%;
	font-family: 'Montserrat', sans-serif;
	padding: 5%;
}

#sec3title {
	width: 100%;
	font-size: 5vw;
	margin-bottom: -4vw;
}

#sec3buttoncontainer {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
}

.button {
	background: -webkit-linear-gradient(-45deg,rgb(0,229,225),rgb(0,139,233),rgb(0,27,106));
	padding: 1.5vw;
	font-size: 19px;
	height: 15vw;
	width: 60vw;
	text-align: center;
	text-justify: none;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 5vw auto 5vw auto;
}

.buttona {
	text-align: center;
	text-justify: none;
	background: rgb(255,255,255);
	margin: 0px;
	height: 15vw;
	width: 60vw;
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	font-weight: 400;
	color: rgb(0,0,0);
	transition: 0.3s;
	font-size: 5vw;
}

.buttona:hover {
	text-decoration: none;
	color: rgb(255,255,255);
	background: rgba(255,255,255,0);
}

.buttona span {
	margin: auto;
}