@charset "UTF-8";

header {
	min-height: 90px;
	background: rgba(255,255,255,0);
	width: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	z-index: 20;
}

#logocontainer img {
	height: 50px;
	width: auto;
	padding: 20px;
	filter: brightness(100);
	transition: 0.8s;
}

#headercontainer {
	width: 100%;
}

#logocontainer {
	float: left;
}

#menucontainer {
	float: right;
	height: 50px;
	width: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
}

body {
	background-attachment: fixed;
	background: rgb(0,0,0);
	padding-top: 90px;
	left: 0;
	right:0 ;
	transition: 0.5s
}

#bodycontainer {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255,255,255,0);
	transition: 0.5s;
}

.topmenudiv {
	height: 20px;
	width: 2px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: rgb(255,255,255);
	transition: 0.5s;
}

.menulink {
	display: flex;
	align-content: center;
	justify-content: center;
	color: rgb(255,255,255);
	transition: 0.5s;
}

.menulink a {
	background-color: rgba(0,139,233,0);
	border-radius: 5px;
	height: 22px;
	width: auto;
	padding-left:8px;
	padding-right:8px;
	margin-top: 9px;
	margin-bottom: 9px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 4px;
	margin-right: 4px;
	color: inherit;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-align: center;
	transition: 0.5s;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: rgb(0,0,0);
	line-height: 22px;
}

.menulink a:hover {
	background-color: rgba(0,139,233,0.5);
}
#coverimgbk {
	width: 100%;
	height: 100vh;
	left: 0;
	right: 0;
}

#coverimg {
	background-image: url("Media/carstate.png");
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#sec1 {
	height: auto;
}

.sectype1 {
	background: rgb(255,255,255);
}

.sectype1container {
	display: flex;
	justify-content: center;
	align-content: center;
}

#sec1upper {
	display: flex;
	justify-content: center;
	align-content: center;
}

.st1img {
	width: 50%;
	height: inherit;
}

.st1text {
	width: 50%;
	margin: 40px;
}

.st1imgcontainer {
	width: 90%;
	margin: 5%;
	height: inherit;
}

#st1img {
	width: 100%;
	background-image: url("Media/team.JPG");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	font-size: 1.4vw;
	height: 19em;
}

.st1title {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	margin-top: -35px;
}

.st1textdiv {
	width: 100%;
	height: 2px;
	background: rgb(0,0,0);
}

.st1content {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4vw;
	text-align: justify;
}

.st1content p {
	
}

#sec1lower {
	padding: 10px;
}

#nswawards {
	width: 100%;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: -30px;
	margin-bottom: 30px;
}

.award {
	width: 12%;
	padding-left:4%;
	padding-right:4%;
	font-size: 23px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	display: inline;
 	color: rgb(0,139,233);
}

.award span {
	display: inline-block;
	vertical-align: middle;
}

.awardsdiv {
	width: 28%;
	margin-left: 3%;
	margin-right: 3%;
	height: 2px;
	background: rgb(0,0,0);
	margin-top: 34px;
	margin-bottom: 34px;
}

.awardstitle {
	display: flex;
	align-content: center;
	justify-content:space-between;
}

.awardstitle h2 {
	height: 70px;
	width: 32%;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

#prevteams {
	width: 94%;
	display: flex;
	justify-content: center;
	align-content: center;
	background: -webkit-linear-gradient(-45deg,rgb(0,229,225),rgb(0,139,233),rgb(0,27,106));
	margin-left: 3%;
	margin-right: 3%;
	margin-top: -30px;
	margin-bottom: 3%;
}

.prevteamcontainer {
	flex-grow: 1;
	min-height: 200px;
	max-height: 350px;
	margin: 20px;
	background: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-content: center;
	
}

#centralcont {
	margin-left: 0;
	margin-right: 0;
}

.prevlogo {
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	width:140px;
	float: left;
	margin: auto;
}

.prevtext {
	padding:20px;
	padding-left: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
  top: 50%;
}

.prevtitle {
	font-size: 30px;
	font-weight: 700;
	inline-display: block;
	vertical-align: middle;
}

#pdxtitle {
	font-family: 'Montserrat', sans-serif;
}

#tvtitle {
	font-family: 'Aldrich', sans-serif;
}

#awatitle {
	font-family: 'Orbitron', sans-serif;
}

.prevaward1 {
	font-size: 19px;
	font-weight: 700;
	line-height: 23px;
	font-family: 'Montserrat', sans-serif;
	inline-display: block;
	vertical-align: middle;
}

.prevaward {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	inline-display: block;
	vertical-align: middle;
}

.sectype2 {
	height: 40vw;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

#sec2cover {
	height: 40vw;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	background: rgba(0,139,233,0.5);
	
}

#sec2 {
	background-image: url("Media/race2.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
}

.st2box {
	width: 45%;
	height: 50%;
	background: rgb(255,255,255);
	margin: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.st2boxcontainer {
	margin: auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#nats {
	font-size: 2.5vw;
}

#metatext1 {
	font-size: 1.5vw;
}

#date {
	font-size: 1.5vw;
}

#sec3img {
	width: 100%;
	background-image: url("Media/2019wf.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	font-size: 1.4vw;
	height: 29em;
}

#sec3buttoncontainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

#button1 {
	width: 50%;
	display: flex;
	justify-content: center;
	align-content: center;
}

#button2 {
	width: 50%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.button {
	background: -webkit-linear-gradient(-45deg,rgb(0,229,225),rgb(0,139,233),rgb(0,27,106));
	padding: 4px;
	font-size: 19px;
	height: 50px;
	width: 250px;
	text-align: center;
	text-justify: none;
	display: flex;
	justify-content: center;
	align-content: center
}

.buttona {
	text-align: center;
	text-justify: none;
	background: rgb(255,255,255);
	margin: 0px;
	height: 50px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	font-weight: 400;
	color: rgb(0,0,0);
	transition: 0.3s;
}

.buttona:hover {
	text-decoration: none;
	color: rgb(255,255,255);
	background: rgba(255,255,255,0);
}

.buttona span {
	margin: auto;
}

#sec4 {
	width: 100%;
	height: auto;
	background-image: url("Media/race1.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
}

#sec4container {
	height: auto;
	width: 100%;
	background: rgba(0,139,233,0.5);
}

#sec4title {
	width: 100%;
}

#sec4title h1 {
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: rgb(255,255,255);
}

#sec4content {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-content: center;
}

.memberbox {
	margin-left: 5vw;
	margin-right: 5vw;
	width: 35vw;
	min-height: 275px;
	background: rgb(255,255,255);
	margin-bottom: 100px;
	display: flex;
	font-family: 'Montserrat', sans-serif;
}

.memberimg {
	height: 100%;
	width: 40%;
}

#nj {
	background-image: url("Media/nj.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#zhu {
	background-image: url("Media/zhu.png");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#boi {
	background-image: url("Media/boi.png");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.memberdes {
	width: 52%;
	margin: 4%;
}

.memberdes h2 {
	margin-top: 0;
}

.memberdes h3 {
	margin-top: -15px;
}

.memberdes p {
	text-align: justify;
	font-size:17px;
}

.memberdiv {
	width: 100%;
	height: 1px;
	background: rgb(0,0,0);
}

/*transform: skewX(-30deg);*/

#sec5 {
	height: auto;
	width: 100%;
}

#sec5container {
	height: auto;
	width: 100%;
	display: flex;
	background: rgb(255,255,255);
	background: -webkit-linear-gradient(-45deg,rgb(0,229,225),rgb(0,139,233),rgb(0,27,106));
}

#sponsorship {
	width: 50%;
	min-height: 500px;
	background: rgb(255,255,255);
	transform: skewX(20deg);
	margin-left: -100px;
	padding-left:150px;
	margin-right: -120px;
}

#mentorship {
	width: 50%;
	min-height: 500px;
}

#sponsorcontainer {
	transform: skewX(-20deg);
	font-family: 'Montserrat', sans-serif;
	z-index: 10;
}

#mentorcontainer {
	font-family: 'Montserrat', sans-serif;
	color: rgb(255,255,255);
	z-index: 5;
	margin-right: -10%;
}

#sponsortitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	color: rgb(0,0,0);
}

#mentortitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	color: rgb(255,255,255);
	margin-right: 7%;
	float: right;
	width: 80%;
}

.sec5div {
	width: 80%;
	height: 2px;
}

#sponsordiv {
	background: rgb(0,0,0);
}

#mentordiv {
	background: rgb(255,255,255);
	margin-right: 7%;
	float: right;
}

#s1 {
	width: 82%;
	text-align: justify;
}

#s2 {
	width: 88%;
	text-align: justify;
}

#s3 {
	width: 94%;
	text-align: justify;
}

#mentorcontainer p {
	float: right;
	text-align: justify;
	margin-right: 7%;
}

#prospectus {
	width: 92%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#mentorcontact {
	width: 75%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	float: right;
}

#m1 {
	width: 70%;
}

#m2 {
	width: 65%;
}

#m3 {
	width: 60%;
}

#button3 {
	background: rgb(255,255,255);
}

#buttonbk1 {
	background: rgb(22,65,143);
	width: 250px;
	height: 50px;
}

#buttona3 {
	color: rgb(255,255,255);
	background: rgba(255,255,255,0);
}

#buttona3:hover {
	background: rgba(255,255,255,1);
	color: rgb(0,0,0);
}

#sec6 {
	width: 100%;
	height: auto;
	background: rgb(255,255,255);
	margin: 0;
}

#sec6container {
	width: 100%;
	height: auto;
	background: rgb(35,50,64);     
	margin: 0;
	padding-bottom: 3%;
}

#sec6title {
	width: 100%;
}

#sec6title h1 {
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: rgb(255,255,255);
	margin-top: 0;
	padding-top: 20px;
}

#selcont {
	width: 85vw;
	margin: auto;
	height: auto;
	display: flex;
	flex-flow: wrap;
}

#sponsorelements {
	display: flex;
	justify-content: center;
	align-content: center;
}

.sponsorimg {
	width: 20vw;
	height: 20vw;
	display: flex;
	justify-content: center;
	align-content: center;
	background: rgb(25,40,54);
	padding:10px;
}

.sponsorimg a {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	filter: contrast(0) brightness(100);
	transition: 0.3s;
}

.sponsorimg a:hover {
	filter: contrast(1) brightness(1);
	background: rgba(255,255,255);  
}

.acont {
	margin: auto;
	background: rgb(35,50,64);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.sponsorimg a img {
	width: 100%;
	height: auto;
	margin: auto;
}

#sim {
	padding-right: 0;
	padding-bottom: 0;
}

#key {
	padding-right: 0;
	padding-bottom: 0;
}

#teach {
	padding-right: 0;
	padding-bottom: 0;
}

#tro {
	padding-bottom: 0;
}

#cd {
	padding-right: 0;
}

#black {
	padding-right: 0;
}

#bmgs {
	padding-right: 0;
}

#sec7 {
	height: 90vh;
	width: 100%;
	background-image: url("Media/race3.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
}

#sec7container {
	height: 90vh;
	width: 100%;
	background: rgba(0,139,233,0.5);
	display: flex;
	justify-content: center;
	align-content: center;
}

#secboxcontainer {
	margin: auto;
}

#contacttitle {
	margin-top: -10px;
}

.buttonicon img {
	height: 60%;
	width: auto;
	margin: 0;
	padding: 20%;
}

#c1a {
	display: flex;
	justify-content: center;
	align-content: center;
}

#c2a {
	display: flex;
	justify-content: center;
	align-content: center;
}

#c3a {
	display: flex;
	justify-content: center;
	align-content: center;
}

.buttonicon {
	width: auto;
	height: 100%;
	margin: auto;
	margin-left: 0;
}

.buttontext2 {
	margin: auto;
	width: 40%;
	margin-right: 30%;
}

.contactbutton {
	margin: 20px;
}
footer {
	height: 100px;
	background: rgb(35,50,64);
	width: 100%;
}

#footercontainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

#footerlogo {
	padding:30px;
	height: 40px;
	width: auto;
	float: left;
	margin-left: 0;
}

#footerlogo img {
	height: 100%;
	width: auto;
	filter:contrast(0) brightness(100);
}

#up {
	font-family: sans-serif;
	text-decoration: none;
	margin: auto;
	color: rgb(255,255,255);
}

#up a {
	font-family: sans-serif;
	text-decoration: none;
	margin: auto;
	color: rgb(255,255,255);
}

#footerbmgs {
	width: 40px;
	height: 40px;
	padding: 30px;
	margin-left: 164px;
}

#footerbmgs img {
	height: 40px;
	width: 40px;
	
}